.info-box{
    border-radius: 12px;
    padding: 20px;
    background-color: rgb(120, 111, 111);
    margin: 10px;
    border: 2px dashed black;
}

.info-box.success{
border-color: greenyellow;
}

.info-box.info{
border-color: lightblue;
}

.info-box.warning{
border-color: orange;
}